.form-group {
  // common inputs ======
  .form-control {
    background-color: transparent;
    border-color: $color-grey-4;
    color: $color-black;
    font-weight: 300;
    font-size: $font-small;
    font-family: $font-family-Roboto;
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
  textarea.form-control:not([rows]) {
    height: 120px;
  }
  // input with custom placeholder(floating) =============
  &.with-placeholder {
    position: relative;
    background-color: transparent;
    border-radius: 8px;
    .placeholder-text {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      font-size: $font-small;
      color: rgba($color-black, 0.4);
      font-weight: 700;
      z-index: 1;
    }
    .form-control {
      position: relative;
      z-index: 2;
      font-size: $fs-5;
      background-color: transparent;
      border: 0;
      color: $color-dark-2;
      padding: 15px 20px;
      height: auto;
      &:focus,
      &:not(:placeholder-shown) {
        + .placeholder-text {
          top: 22%;
        }
      }
    }
    &.float-placeholder {
      .placeholder-text {
        top: 19%;
      }
    }
  }
}
/* ================== placeholder color ==============  */
.form-control::-webkit-input-placeholder,
::-webkit-input-placeholder {
  /* Edge */
  color: $color-grey;
}
.form-control:-ms-input-placeholder,
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $color-grey;
}
.form-control::placeholder,
::placeholder {
  color: $color-grey;
}
.form-control::-moz-placeholder {
  color: $color-grey;
  opacity: 1;
}
