/********* Buttons ******************/
.btn {
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none !important;
  font-weight: 500;
  font-size: $fs-11;
  padding: 16px 21px;
  border-radius: 5px;
  &:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }


  // button primary (blue background)
  &.btn-primary {
    background-color: $color-blue !important;
    border-color: $color-blue !important;
    color: $color-white !important;
    &:focus,
    &:hover {
      background-color: $color-dark-blue !important;
      border-color: $color-white!important;
      color: $color-white !important;
    }
  }

  //light button ==========
  &.btn-outline-light {
    background-color:transparent !important;
    border-color: $color-grey-4 !important;
    color: $color-grey !important;
    &:hover,
    l &:focus {
      background-color: $color-dark-2 !important;
      border-color: $color-dark !important;
      color: $color-white !important;
    }
  }
}
// ----------button as a link to open a page
.zw-btn{
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-decoration: none;
  display: inline-block;
  &:focus{
    outline: none;
  }
}

@media screen and (max-width: 767px) {
  .btn{
    font-size: $font-smallest!important;
    padding: 11px!important;
  }   
}