html {
  scroll-behavior: smooth;
  font-size: $base-font-size;
}
body {
  font-family: $font-family-poppins;
  color: $color-black;
  line-height: $base-line-height;
  background-color: $color-grey-6;
}
*,
*:focus {
  outline: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none !important;
  color: $color-dark-blue;
}
a:hover {
  color: $color-dark-blue;
  cursor: pointer;
}
p {
  margin-bottom: 10px;
  font-size: $font-heading-6;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}
/*****************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font-family-poppins;
  line-height: 1.2;
  font-weight: 600 !important;
}
h1,
.h1 {
  font-size: $font-heading-1; // 60px
}
h2,
.h2 {
  font-size: $font-heading-2; //50px
}
h3,
.h3 {
  font-size: $font-heading-3; // 36px
}
h4,
.h4 {
  font-size: $font-heading-4; // 30px
}
h5,
.h5 {
  font-size: $font-heading-5; // 24px
}
h6,
.h6 {
  font-size: $font-heading-6; // 18px
}
/******* Helpers ********************************************************************/
/*-----  fonts ---------- */
.font-poppins {
  font-family: $font-family-poppins !important;
}
.font-roboto {
  font-family: $font-family-Roboto !important;
}
/* font sizes ======= */
.font-smallest {
  font-size: $font-smallest !important; //14px
}
.fs-small {
  font-size: $font-small !important; // 16px
}
.fs-14 {
  font-size: $fs-14 !important;
}
.fs-16 {
  font-size: $fs-4 !important;
}
.fs-18 {
  font-size: $fs-5 !important;
}
.fs-20 {
  font-size: $font-heading-4 !important;
}
.fs-24 {
  font-size: $fs-7 !important;
}
.fs-26 {
  font-size: $font-heading-3 !important;
}
.fs-30 {
  font-size: $font-heading-2 !important;
}
.fs-36 {
  font-size: $fs-9 !important;
}

.fs-60 {
  font-size: $fs-13 !important;
}

.font-largest {
  font-size: $font-largest !important;
}
/* text colors=== */
.text-black {
  color: $color-black !important;
}
.text-grey {
  color: $color-grey !important;
}
.text-dark {
  color: $color-dark !important;
}
.text-dark-2 {
  color: $color-dark-2 !important;
}
.text-purple{
  color: $color-purple !important;
}
.text-primary,
a.text-primary:hover,
a.text-primary:focus {
  color: $color-blue !important;
}
// .text-danger,
// a.text-danger:hover,
// a.text-danger:focus {
//   color: $color-red !important;
// }
// .text-success,
// a.text-success:focus,
// a.text-success:hover {
//   color: $color-green !important;
// }
// a.text-warning:focus,
// a.text-warning:hover {
//   color: $color-yellow !important;
// }
.text-info,
a.text-info:hover,
a.text-info:focus {
  color: $color-light-blue !important;
}
/* backgrounds ==== */
.bg-grey {
  background-color: $color-grey-4;
}
.bg-grey-2 {
  background-color: $color-grey-6;
}
.bg-grey-3 {
  background-color: $color-grey-5;
}
.bg-grey-4 {
  background-color: $color-grey-7;
}
.bg-grey-5 {
  background-color: $color-grey-9;
}
.bg-grey-6 {
  background-color: $color-grey;
}

.bg-primary {
  background-color: $color-dark-blue !important;
}
.bg-info {
  background-color: $color-blue !important;
}
.bg-dark-blue {
  background-color: $color-dark-blue;
}
.bg-dark {
  color: $color-dark;
}
.bg-dark-1 {
  background-color: $color-black;
}
.bg-dark-2 {
  background-color: $color-dark-2;
}
.bg-white {
  background-color: $color-white !important;
}
.bg-purple {
  background-color: $color-purple;
}
.bg-purple-1 {
  background-color: $color-purple-1;
}
.bg-purple-2 {
  background-color: $color-purple-2;
}
// bg yellow
.bg-yellow{
  background-color: $color-yellow;
}
.bg-yellow-1{
  background-color: $color-yellow-1;
}
.bg-yellow-2{
  background-color: $color-yellow-2;
}
// bg transparent
.bg-transparent-dark {
  background-color: rgba($color-black, 0.5) !important;
}
/*************Font Weight****************/
.font-weight-light {
  font-weight: 300 !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-medium {
  font-weight: 500 !important;
}
.font-weight-semi {
  font-weight: 600 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.font-weight-bolder {
  font-weight: 800 !important;
}
.text-underline {
  text-decoration: underline !important;
}
//==========
.line-height-30 {
  line-height: $line-height-30!important;
}
.line-height-22 {
  line-height: $line-height-22!important;
}
//=========borders
.border-radius-8 {
  border-radius: 8px;
}

.border-radius-20 {
  border-radius: 20px;
}

// opacities ==============================
.opacity-one-fourth {
  opacity: 0.25;
}
.opacity-half {
  opacity: 0.5;
}
.opacity-three-fourth {
  opacity: 0.75;
}
.opacity-full {
  opacity: 1;
}
select.remove-default-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
// max width classes
.mw-25 {
  max-width: 25%;
}
.mw-50 {
  max-width: 50%;
}
.mw-75 {
  max-width: 75%;
}
//====== image-fit=====
.img-fit {
  object-fit: cover;
  object-position: center;
}

.cursor-pointer {
  cursor: pointer;
}

// border-colors=-===={
.border-dark {
  border-color: #000000 !important;
}
.text-deleted {
  text-decoration: line-through;
}
// =======================media querries=============================
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
  h1,
  .h1 {
    font-size: $font-heading-3; // 36px
  }
  h2,
  .h2 {
    font-size: $font-heading-4; //30px
  }
  h3,
  .h3 {
    font-size: $font-heading-5; // 24px
  }
  h4,
  .h4 {
    font-size: $fs-11 // 22px
  }
  h5,
  .h5 {
    font-size: $fs-5; // 18px
  }
  //--------fonts---------
  .fs-60 {
    font-size: $font-heading-3 !important;
  }
  .fs-18 {
    font-size: $font-small !important;
  }
  p {
    font-size: $font-small !important;
  }
}
@media screen and (min-width: 1470px) {
  // =============================
  .container {
    max-width: 1400px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 740px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 560px;
  }
}
